/* These are the configurations for the body tag section in the index page. */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* This is the configurations for the text area tag section where you add events. */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* This is the configurations for the jumbotron class that displays the work day scheduler and date/time. */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* This is the configurations for the description class in the index page. */
.description {
  white-space: pre-wrap;
}

/* This is the configurations for the time-block class. */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* This the configuratons for the row class. */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* This is the configurations for the hour class that displays the hours on the scheduler  */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* This is the configurations for the past class. Black font with grey background */
.past {
  background-color: #d3d3d3;
  color: black;
}

/* This is the configurations for the present class. Black font with red background*/
.present {
  background-color: #ff6961;
  color: black;
}

/* This is the configurations for the future class. Black font with greem background*/
.future {
  background-color: #77dd77;
  color: black;
}

/* This is the configurations for the save buttons on each time block. */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* This is the configurations for the save button when you hover a cursor over it. It makes the disk icon bigger */
.saveBtn i:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}